@tailwind base;
@tailwind components;
@tailwind utilities;




.bg-red-custom {
    width: 100%;

}


#section{
    margin-top: 100px;
    margin-bottom: 50px;

}

label{
    display: inline-block;
}

#acceptButton{

    margin-top: 10px;

    background-color: #2ECC71;
}
#rejectButton{
    background-color: #FF6B6B;
}
#reserve{
    margin-top: 15%;
    text-align: center;
    margin: auto;
}
#box{
    margin-top: 15%;
    top: 15%
}

#select{
    width: auto;

}
#destinantionError{
    background-color: #FF6B6B;
}

div.center {
    text-align: center;
  }

