@tailwind base;
@tailwind components;
@tailwind utilities;



.bg-red-custom {
    width: 100%;

}



#form{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    height: 600px;
    width: 600px;
    background-color: #0A74DA;
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translate(-49%, -49%)
}

label{
    display: inline-block;
}

#acceptButton{

    background-color: #2ECC71;
}
#rejectButton{
    background-color: #FF6B6B;
}
#reserve{
    margin-top: 15%;
    text-align: center;
    margin: auto;
}
#box{
    margin-top: 15%;
    top: 15%
}
#select{
    width: auto;

}
#destinantionError{
    background-color: #FF6B6B;
}
